nav {
    -webkit-text-decoration: #6f7c74;
            text-decoration: #6f7c74;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;

}
header {
    position: sticky;
    top: 0;
    width: 100%;

}

Footer {
    ul {
        font-family: 'Montserrat', sans-serif;
        text-decoration: #6f7c74;
        font-size: 1.5rem;
    }
}
