/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


header {
    background-color: #fff1da;
}

.grid {
    justify-content: center;
    text-decoration: #6f7c74;
    font-family: 'Lora', serif;
    font-size: 3rem;
}

@media only screen and (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
    .fondo {
        width: 100%;
    }
    #LOGO1 {
        height: 40.72px;
        width: 120px;
    }
    .elaboracion {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (max-width: 375px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(1, 400px);
    }
    .fondo {
        width: 100%;
    }
    #LOGO1 {
        height: 28px;
        width: 80px;
    }
    .elaboracion {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #f9827f;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #f9827f;
}

.lema {
    font-family: 'Lora', serif;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke: 2px black;

}

.imagenes {
    filter: grayscale(100%);

}

.imagenes:hover {
    filter: grayscale(0%);
}

.destacados {
    position: relative;
    text-align: center;
    color: white;
    .imagenDestacada {
        opacity: 1;
        display: block;
        height: auto;
        transition: .3s ease;
        backface-visibility: hidden;
        padding: 20px;
    }
    .imagenDestacada:hover {
        opacity: 0.8;
    }
    .texto {
        color: white;
        position: absolute;
        font-family: 'Lora', serif;
        font-size: 6rem;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
    }
    .texto1 {
        color: white;
        position: absolute;
        font-family: 'Lora', serif;
        font-size: 6rem;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}



.comoComprar {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: black;
    li {
        padding: 10px;
        margin-left: 50px;
    }
}

.elaboracion {
    section { 
        align-items: center;
        justify-content: center;
        p {
        color: #6f7c74;
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        padding: 5px;
        }
    }
}
.video {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

article {
    background-color: #fff1da;
    p {
        text-align: start;
        font-family: 'Lora', serif;
        font-size: 1.5rem;
        padding: 5px;
    }
    li {
        color: black;
        font-family: 'Lora', serif;
        font-size: 1.5rem;
    }
    h2 {
        color: black;
    }
}

Footer {
    background-color: #9b8884;
    font-size: 1rem;
    text-decoration: #6f7c74;
}

